<div class="main-area">
  <div class="img-container">
    <img src="assets/home-page-image.jpeg" alt="Pills and leaves" />
  </div>

  <div class="description-container">
    <h3>Pharmacy Products Track System</h3>
    <h1>HERBAL PHARMACY</h1>
    <h5><i>Close to nature!</i></h5>
    <p>
      We dedicated our life to use nature in healing and we are proud to say
      that our small store sells the best. We have a large range of products
      with a total of <span>{{ numberOfProducts }}</span> products!
    </p>
  </div>
</div>
