<mat-toolbar color="primary">
  <div class="left-side">
    <img src="assets/pharmacy-logo.svg" alt="pharmacy-logo" />
    <div class="navigation-buttons">
      <button mat-button (click)="goToHomePage()">Home</button>
      <button mat-button (click)="goToProducts()">Products</button>
    </div>
  </div>

  <div class="action-buttons">
    <button mat-button (click)="openUpdateUsernameDialog()">
      Hello, {{ authenticatedUser$ | async | lowercase }}
    </button>
    <button
      mat-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>perm_identity</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openChangePasswordDialog()">
        <mat-icon>create</mat-icon>
        <span>Change password</span>
        <span class="mat-button-focus-overlay"></span>
      </button>
      <button mat-menu-item (click)="openLogoutDialog()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
        <span class="mat-button-focus-overlay"></span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
